{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Index page</h1>
        {% if messages|length > 0 %}
            {% for message in messages|slice(0, limit) %}
                <li>{{ message.title }}</li>
            {% endfor %}
        {% else %}
            <b>Oops there is no messages yet!</b>
        {% endif %}
    </div>
{% endblock %}